# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
*.env
.env
# Pytest cache
.cache/

# Database files
*.sqlite3

# Flask instance folder (if used)
instance/

# Logs
*.log

# IDE specific files (optional)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Compiled files
*.so
*.out
*.o

